# Market basket analysis

This project aims to perform market basket analysis for [groceries dataset](https://www.kaggle.com/datasets/heeraldedhia/groceries-dataset) downloaded from Kaggle.

Project aims: Utilising Apriori alorithm to develop assiociation rules

## Data preprocessing

Importing numpy and pandas.

In [1]:
import pandas as pd
import numpy as np

Read the CSV file into a dataframe

In [2]:
df = pd.read_csv('groceries_dataset.csv')
df

       Member_number        Date        itemDescription
0               1808  21/07/2015         tropical fruit
1               2552   5/01/2015             whole milk
2               2300  19/09/2015              pip fruit
3               1187  12/12/2015       other vegetables
4               3037   1/02/2015             whole milk
...              ...         ...                    ...
38760           4471   8/10/2014          sliced cheese
38761           2022  23/02/2014                  candy
38762           1097  16/04/2014               cake bar
38763           1510   3/12/2014  fruit/vegetable juice
38764           1521  26/12/2014               cat food

[38765 rows x 3 columns]

Checking for duplicate rows based on the 'Member_number' and 'Date'.

In [3]:
duplicate_rows = df[df.duplicated(subset=['Member_number', 'Date', 'itemDescription'], keep=False)]
duplicate_rows.sort_values(by=['Member_number','Date'])

       Member_number        Date itemDescription
33098           1003  27/02/2014      rolls/buns
37649           1003  27/02/2014      rolls/buns
15099           1005   9/01/2014      rolls/buns
31248           1005   9/01/2014      rolls/buns
7532            1006  14/06/2015     frankfurter
...              ...         ...             ...
24043           4981  10/01/2015       margarine
8109            4988  29/10/2015      rolls/buns
24258           4988  29/10/2015      rolls/buns
33585           4992  24/02/2014       margarine
38136           4992  24/02/2014       margarine

[1491 rows x 3 columns]

As there are duplicated rows, indicating multiple purchases of the same items, we do not require the quantity for our calculations. Therefore we need to remove the duplicated rows.

In [4]:
df = df.drop_duplicates()

To use the Apriori algorithm, we need to convert the dataset into true and false (1 or 0), with purchased items as columns. We process the data as follows.

In [5]:
# Assign a unique transaction ID to each transaction based on Member_number and Date
df.loc[:, 'TransactionID']=df.groupby(['Member_number', 'Date']).ngroup()

# Sort the DataFrame by Member_number and Date, then drop these columns
df=df.sort_values(by=['Member_number','Date']).drop(columns=['Member_number','Date'])

# Add a 'Present' column with all values set to True
df['Present'] = True

C:\Users\kdsha\AppData\Local\Temp\ipykernel_62544\219977385.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'TransactionID']=df.groupby(['Member_number', 'Date']).ngroup()

Then, we convert the data using pivot.

In [6]:
# Pivot the df to convert it into a binary matrix where rows represent transactions, 
# columns represent item descriptions, and values indicate whether an item is present in a transaction
pivoted = df.pivot(index='TransactionID', columns='itemDescription', values='Present').fillna(False)

# Remove the column name to improve readability
pivoted.columns.name = None

# Remove the index name to improve readability
pivoted = pivoted.rename_axis(None, axis=1)

# Return the pivoted DataFrame
pivoted

,Instant food products,UHT-milk,abrasive cleaner,artif. sweetener,baby cosmetics,bags,baking powder,bathroom cleaner,beef,berries,...,turkey,vinegar,waffles,whipped/sour cream,whisky,white bread,white wine,whole milk,yogurt,zwieback
TransactionID,,,,,,,,,,,,,,,,,,,,,
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,True,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14958,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
14959,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
14960,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
14961,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
14962,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

## Association Rule Mining with Apriori Algorithm

Import required libraries.

In [7]:
pip install mlxtend

Requirement already satisfied: mlxtend in c:\users\kdsha\anaconda3\lib\site-packages (0.23.0)
Requirement already satisfied: scipy>=1.2.1 in c:\users\kdsha\anaconda3\lib\site-packages (from mlxtend) (1.10.0)
Requirement already satisfied: scikit-learn>=1.0.2 in c:\users\kdsha\anaconda3\lib\site-packages (from mlxtend) (1.2.1)
Requirement already satisfied: pandas>=0.24.2 in c:\users\kdsha\anaconda3\lib\site-packages (from mlxtend) (1.5.3)
Requirement already satisfied: joblib>=0.13.2 in c:\users\kdsha\anaconda3\lib\site-packages (from mlxtend) (1.1.1)
Requirement already satisfied: matplotlib>=3.0.0 in c:\users\kdsha\anaconda3\lib\site-packages (from mlxtend) (3.7.0)
Requirement already satisfied: numpy>=1.16.2 in c:\users\kdsha\anaconda3\lib\site-packages (from mlxtend) (1.23.5)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\kdsha\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.4.4)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\kdsha\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (3.0.9)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\kdsha\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (4.25.0)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\kdsha\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.0.5)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\kdsha\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2.8.2)
Requirement already satisfied: pillow>=6.2.0 in c:\users\kdsha\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (9.4.0)
Requirement already satisfied: cycler>=0.10 in c:\users\kdsha\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (0.11.0)
Requirement already satisfied: importlib-resources>=3.2.0 in c:\users\kdsha\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (5.2.0)
Requirement already satisfied: packaging>=20.0 in c:\users\kdsha\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (22.0)
Requirement already satisfied: pytz>=2020.1 in c:\users\kdsha\anaconda3\lib\site-packages (from pandas>=0.24.2->mlxtend) (2022.7)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\kdsha\anaconda3\lib\site-packages (from scikit-learn>=1.0.2->mlxtend) (2.2.0)
Requirement already satisfied: zipp>=3.1.0 in c:\users\kdsha\anaconda3\lib\site-packages (from importlib-resources>=3.2.0->matplotlib>=3.0.0->mlxtend) (3.11.0)
Requirement already satisfied: six>=1.5 in c:\users\kdsha\anaconda3\lib\site-packages (from python-dateutil>=2.7->matplotlib>=3.0.0->mlxtend) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [8]:
from mlxtend.frequent_patterns import apriori, association_rules

Next we mine frequent itemsets using the Apriori algorithm with the pivoted DataFrame.

In [9]:
# Specify a minimum support threshold of 0.002 and use item names as column names
frequent_itemsets_new = apriori(pivoted, min_support=0.002, use_colnames=True)

In [10]:
# Print frequent itemsets
print(frequent_itemsets_new)

      support                          itemsets
0    0.004010           (Instant food products)
1    0.021386                        (UHT-milk)
2    0.008087                   (baking powder)
3    0.033950                            (beef)
4    0.021787                         (berries)
..        ...                               ...
325  0.002606             (whole milk, waffles)
326  0.004611  (whipped/sour cream, whole milk)
327  0.002941      (whipped/sour cream, yogurt)
328  0.003141         (whole milk, white bread)
329  0.011161              (whole milk, yogurt)

[330 rows x 2 columns]

Generate association rules from frequent itemsets using the lift metric.

In [11]:
# Specify a minimum lift threshold of 1.0
rules = association_rules(frequent_itemsets_new, metric='lift', min_threshold=1.0)

Print association rules.

In [12]:
print(rules)

                antecedents              consequents  antecedent support  \
0                 (berries)       (other vegetables)            0.021787
1        (other vegetables)                (berries)            0.122101
2                 (sausage)           (bottled beer)            0.060349
3            (bottled beer)                (sausage)            0.045312
4             (canned beer)            (brown bread)            0.046916
5             (brown bread)            (canned beer)            0.037626
6             (brown bread)                 (pastry)            0.037626
7                  (pastry)            (brown bread)            0.051728
8               (chocolate)             (rolls/buns)            0.023592
9              (rolls/buns)              (chocolate)            0.110005
10           (citrus fruit)                 (yogurt)            0.053131
11                 (yogurt)           (citrus fruit)            0.085879
12                (sausage)                   (curd)            0.060349
13                   (curd)                (sausage)            0.033683
14            (frankfurter)       (other vegetables)            0.037760
15       (other vegetables)            (frankfurter)            0.122101
16       (other vegetables)           (frozen meals)            0.122101
17           (frozen meals)       (other vegetables)            0.016775
18        (root vegetables)      (frozen vegetables)            0.069572
19      (frozen vegetables)        (root vegetables)            0.028002
20                (sausage)      (frozen vegetables)            0.060349
21      (frozen vegetables)                (sausage)            0.028002
22  (fruit/vegetable juice)             (rolls/buns)            0.034017
23             (rolls/buns)  (fruit/vegetable juice)            0.110005
24                    (ham)             (whole milk)            0.017109
25             (whole milk)                    (ham)            0.157923
26       (other vegetables)                   (meat)            0.122101
27                   (meat)       (other vegetables)            0.016842
28                (sausage)                 (pastry)            0.060349
29                 (pastry)                (sausage)            0.051728
30          (shopping bags)        (root vegetables)            0.047584
31        (root vegetables)          (shopping bags)            0.069572
32                (sausage)                   (soda)            0.060349
33                   (soda)                (sausage)            0.097106
34                (sausage)                 (yogurt)            0.060349
35                 (yogurt)                (sausage)            0.085879

    consequent support   support  confidence      lift      leverage  \
0             0.122101  0.002673    0.122699  1.004899  1.303311e-05
1             0.021787  0.002673    0.021894  1.004899  1.303311e-05
2             0.045312  0.003342    0.055371  1.222000  6.070623e-04
3             0.060349  0.003342    0.073746  1.222000  6.070623e-04
4             0.037626  0.002406    0.051282  1.362937  6.406768e-04
5             0.046916  0.002406    0.063943  1.362937  6.406768e-04
6             0.051728  0.002005    0.053286  1.030127  5.863558e-05
7             0.037626  0.002005    0.038760  1.030127  5.863558e-05
8             0.110005  0.002807    0.118980  1.081592  2.117455e-04
9             0.023592  0.002807    0.025516  1.081592  2.117455e-04
10            0.085879  0.004611    0.086792  1.010642  4.855926e-05
11            0.053131  0.004611    0.053696  1.010642  4.855926e-05
12            0.033683  0.002941    0.048726  1.446615  9.078510e-04
13            0.060349  0.002941    0.087302  1.446615  9.078510e-04
14            0.122101  0.005146    0.136283  1.116150  5.355097e-04
15            0.037760  0.005146    0.042146  1.116150  5.355097e-04
16            0.016775  0.002139    0.017515  1.044134  9.039652e-05
17            0.122101  0.002139    0.127490  1.044134  9.039652e-05
18            0.028002  0.002139    0.030740  1.097751  1.904361e-04
19            0.069572  0.002139    0.076372  1.097751  1.904361e-04
20            0.028002  0.002072    0.034330  1.225966  3.818638e-04
21            0.060349  0.002072    0.073986  1.225966  3.818638e-04
22            0.110005  0.003743    0.110020  1.000136  5.091755e-07
23            0.034017  0.003743    0.034022  1.000136  5.091755e-07
24            0.157923  0.002740    0.160156  1.014142  3.821049e-05
25            0.017109  0.002740    0.017351  1.014142  3.821049e-05
26            0.016842  0.002139    0.017515  1.039991  8.223631e-05
27            0.122101  0.002139    0.126984  1.039991  8.223631e-05
28            0.051728  0.003208    0.053156  1.027617  8.621145e-05
29            0.060349  0.003208    0.062016  1.027617  8.621145e-05
30            0.069572  0.003342    0.070225  1.009388  3.107757e-05
31            0.047584  0.003342    0.048031  1.009388  3.107757e-05
32            0.097106  0.005948    0.098560  1.014975  8.775684e-05
33            0.060349  0.005948    0.061253  1.014975  8.775684e-05
34            0.085879  0.005748    0.095238  1.108986  5.648409e-04
35            0.060349  0.005748    0.066926  1.108986  5.648409e-04

    conviction  zhangs_metric
0     1.000682       0.004984
1     1.000109       0.005553
2     1.010649       0.193337
3     1.014464       0.190292
4     1.014394       0.279398
5     1.018191       0.276701
6     1.001646       0.030389
7     1.001179       0.030841
8     1.010188       0.077260
9     1.001975       0.084761
10    1.001001       0.011121
11    1.000598       0.011520
12    1.015814       0.328559
13    1.029531       0.319493
14    1.016420       0.108146
15    1.004579       0.118536
16    1.000754       0.048148
17    1.006176       0.042990
18    1.002824       0.095705
19    1.007363       0.091612
20    1.006553       0.196155
21    1.014726       0.189627
22    1.000017       0.000141
23    1.000005       0.000153
24    1.002659       0.014188
25    1.000246       0.016560
26    1.000686       0.043801
27    1.005593       0.039112
28    1.001509       0.028601
29    1.001777       0.028341
30    1.000702       0.009765
31    1.000469       0.009996
32    1.001613       0.015702
33    1.000963       0.016341
34    1.010345       0.104587
35    1.007049       0.107508